:root .adwaita {
    background-color: var(--light-background-color);
    --light-background-color: white;
    --drag-highlight: aqua;
    --electron-titlebar-background-color: #ddd9d6;
    
    --exif-color: darkblue;
    --selected-exif-color: yellow;

    --vtc-background-color: transparent;
    --vtc-restriction-background-color: white;
    --vtc-caption-color: #737373;
    --vtc-caption-background-color: #eff0f1;
    --vtc-caption-background-hover-color: #e2e2e2;
    --vtc-caption-separator-color: #737373;
    --vtc-selected-background-color: #3584e4;

    --vtc-scrollbar-button-display: none;
    --vtc-scrollbar-width: 12px;
    --vtc-scrollbar-background-color: transparent;
    --vtc-scrollbar-border-width: 0px;
    --vtc-scrollbar-grip-width: 4px;
    --vtc-scrollbar-grip-active-color: var(--vtc-selected-background-color);
    --vtc-scrollbar-grip-radius: 999px;
    --vtc-scrollbar-grip-right: 1px;
    --vtc-scrollbar-right-margin: 6px;

    --gridsplitter-grip-color : var(--electron-titlebar-background-color);
    --gridsplitter-grip-hover-color : #bbb8b5;
    --gridsplitter-grip-active-color : #8f8d8b;    

    --menubar-background-color: var(--electron-titlebar-background-color); 
    --menubar-selected-background-color: var(--vtc-selected-background-color);

    --wdb-main-background-color: #f6f5f4;
    --wdb-button-background-color: #f6f5f4;
    --wdb-button-color: black;
    --wdb-button-hover-background-color: white;
    --wdb-button-active-background-color: #d6d1cd;   
    --wdb-button-margin: 20px 0px 0px 0px;
    --wdb-button-flexgrow: 1;
    --wdb-button-marginleft: 0px;
    --wdb-button-focus-color: blue;    
    --wdb-button-cornerradius: 0px;
    --wdb-button-bordercolor: lightgray;
    --wdb-button-borderstyle: solid;
    --wdb-button-borderwidth: 1px 0px 1px 1px;
    --wdb-button-first-borderwidth: 0px;
    --wdb-button-buttomradius: 5px;
    --wdb-button-padding: 10px 15px;
    --wdb-button-outlinestyle: dotted;
    --wdb-button-outlineoffset: -2px;
    --wdb-input-selection-color: #3584e4;    

    --pieprogress-color: var(--vtc-selected-background-color);
    --pieprogress-background-color: var(--light-background-color);
}

body.adwaita {
    font-size: 85%;
}