:root .breezeDark {
    background-color: var(--light-background-color);
    --light-background-color: #232627;
    --drag-highlight: darkgreen;
    --electron-titlebar-color: lightgray;
    --electron-titlebar-background-color: #31363b;
    --electron-titlebar-button-hover-color: rgb(66, 66, 66);
    --electron-titlebar-focused-color: rgb(174, 173, 230);

    --vtc-color: white;
    --vtc-restriction-background-color: black;
    --vtc-item-img-color: white;
    --vtc-background-color: transparent;
    --vtc-caption-color: #dddddd;
    --vtc-caption-background-color: #353535;
    --vtc-caption-background-hover-color: #464646;
    --vtc-caption-separator-color: #737373;
    --vtc-selected-background-color: #3584e4;

    --vtc-scrollbar-button-display: none;
    --vtc-scrollbar-width: 12px;
    --vtc-scrollbar-background-color: transparent;
    --vtc-scrollbar-border-width: 0px;
    --vtc-scrollbar-grip-width: 4px;
    --vtc-scrollbar-grip-active-color: var(--vtc-selected-background-color);
    --vtc-scrollbar-grip-radius: 999px;
    --vtc-scrollbar-grip-right: 1px;
    --vtc-scrollbar-right-margin: 6px;

    --exif-color: rgb(255, 255, 173);
    --selected-exif-color: yellow;

    --menubar-color: white;
    --menubar-background-color: var(--light-background-color); 
    --menubar-hover-color: darkblue;
    --menubar-selected-color: white;
    --menubar-selected-background-color: var(--vtc-selected-background-color);
    --menubar-border-color: rgb(70, 70, 70);
    --menubar-shadow-color: rgba(148, 148, 148, 0.2);
    --menubar-separator-color: rgb(70, 70, 70);    

    --gridsplitter-grip-color : var(--electron-titlebar-background-color);
    --gridsplitter-grip-hover-color : #383838;
    --gridsplitter-grip-active-color : #585858;

    --wdb-main-color: white;
    --wdb-main-background-color: #353535;
    --wdb-button-background-color: #353535;
    --wdb-button-color: white;
    --wdb-button-hover-background-color: #4b4b4b;
    --wdb-button-active-background-color: #242424;   
    --wdb-button-margin: 20px 0px 0px 0px;
    --wdb-button-flexgrow: 1;
    --wdb-button-marginleft: 0px;
    --wdb-button-focus-color: blue;    
    --wdb-button-cornerradius: 0px;
    --wdb-button-bordercolor: black;
    --wdb-button-borderstyle: solid;
    --wdb-button-borderwidth: 1px 0px 1px 1px;
    --wdb-button-first-borderwidth: 0px;
    --wdb-button-buttomradius: 5px;
    --wdb-button-padding: 10px 15px;
    --wdb-button-outlinestyle: dotted;
    --wdb-button-outlineoffset: -2px;
    --wdb-input-selection-color: #3584e4;

    --pieprogress-color: var(--vtc-selected-background-color);
    --pieprogress-background-color: var(--light-background-color);
}

body.breezeDark {
    font-size: 80%;
}

