.progressBarContainer {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 4px;
}

.progressBarValue {
    height: 100%;
    background: var(--accent-color);
    border-radius: 4px;
}