.titlebar {
    display: flex;
    height: 32px;
    background-color: var(--scaffolding-background-color);
    color: var(--color);
    border-top: 1px solid transparent;
}


body:focus-within .titlebar {
    border-top: 1px solid var(--vtr-selected-background-color);
}

.titlebar>img {
    height: 32px;
    width: 32px;
}

.titlebarGrip {
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    margin-top: 3px;    
    padding-left: 25px;
    display: flex;
    align-items: center;  
    app-region: drag;
}

.titlebarGrip>span {
    flex-grow: 1;   
    margin-top: -3px; 
}

