Commander/obj
Commander/.fslsp
Commander/bin
.ionide
node_modules
resources/electron
package-lock.json
resources/web
LinuxPlugin/bin
LinuxPlugin/obj
WindowsPlugin/bin
WindowsPlugin/obj
Core/bin
Core/obj
resources/script.js
resources/style.css
build
buildOld
