[Desktop Entry]
Name=Commander
Comment=File Commander
GenericName=Commander
Exec=/home/uwe/Projekte/commander/Commander/bin/Release/net6.0/linux-x64/commander
Icon=/home/uwe/Projekte/commander/Commander/kirk.png
Type=Application
StartupNotify=false
StartupWMClass=commander
Categories=FileManager;
MimeType=text/plain;inode/directory;application;
Keywords=commander;
