.copyProgress {
    min-width: 400px;
}

.copyProgress progress {
    width: 100%;
}

.copyProgress table {
    width: 100%;
}

.copyProgress .rightAligned {
    text-align: end;
}

.copyProgress .btns .wdr--button {
    margin: 10px 0px 10px 10px;
}