.App.windowsTheme {
    font-size: 80%;
    --accent-color: blue;
    --vtr-current-focus-color: var(--accent-color);
    --vtr-selected-background-color: var(--accent-color);
    --statusbar-info: oklch(from var(--vtr-selected-background-color) calc(l + 0.35) c h);
    
    --wdr-button-padding: 5px 25px;
    --wdr-button-borderstyle: solid;
    --wdr-button-cornerradius: 5px;
    --wdr-button-outlinestyle: solid;
    --wdr-button-outlineoffset: 0px;
    --wdr-cancel-border-radius: 0px 10px 0px 0px;
    --wdr-cancel-margin-right: 0px;
    --wdr-cancel-margin-top: 0px;
    --wdr-cancel-padding: 6px 10px;
    --wdr-cancel-hover-color: white;
    --wdr-cancel-active-color: white;
    --wdr-cancel-background-hover-color: red;
    --wdr-cancel-background-active-color: rgb(255, 89, 89);
    --wdr-button-default-background-color: var(--accent-color);
    --wdr-button-default-color: white;
    --wdr-button-font-weight: normal;
    --wdr-button-background-color: #ebebeb;
    --wdr-button-color: black;    

    --vtr-current-selected-focus-color-invert: 1;
}

@media (prefers-color-scheme: light) {
    :root .windowsTheme {
        --color: black;
        --scaffolding-background-color: #ebebeb;
        --svg-image-path-color: black;
        --restriction-background-color: white;
        --exif-color: darkblue;
        --selected-exif-color: yellow;
       
        --vtr-background-color: transparent;
        --vtr-scrollbar-grip-active-color: var(--vtr-selected-background-color);
        --vtr-caption-color: #737373;
        --vtr-caption-background-color: var(--scaffolding-background-color);
        --vtr-caption-background-hover-color: #e2e2e2;
        --vtr-caption-separator-color: var(--vtr-caption-color);

        --vsr-grip-color: var(--scaffolding-background-color);
        --vsr-grip-width: 2px;
        --vsr-grip-padding: 3px;

        --mbr-menubar-background-color: var(--vtr-background-color);
        --mbr-menubar-submenu-background-color: white;
        --mbr-menubar-selected-background-color: var(--vtr-selected-background-color);
        --rpc-color: var(--vtr-selected-background-color);

        --wdr-cancel-background-color: white;
        --wdr-input-selection-color: var(--accent-color);        
    }
}

@media (prefers-color-scheme: dark) {
    :root .windowsTheme {
        --color: lightgray;
        background-color: #2f2f2f; 
        --drag-highlight: darkgreen;
        --scaffolding-background-color: #262626;
        --svg-image-path-color: var(--color);
        --restriction-background-color: var(--scaffolding-background-color);
        --exif-color: rgb(255, 255, 173);
        --selected-exif-color: yellow;
        
        --vtr-color: white;
        --vtr-background-color: transparent;
        --vtr-scrollbar-grip-active-color: var(--vtr-selected-background-color);
        --vtr-caption-color: #ddd;
        --vtr-caption-background-color: #353535;
        --vtr-caption-background-hover-color: #464646;
        --vtr-caption-separator-color: var(--scaffolding-background-color);
    
        --vsr-grip-color : var(--scaffolding-background-color);
        --vsr-grip-hover-color : #383838;
        --vsr-grip-active-color : #585858;    
        --vsr-grip-width: 2px;
        --vsr-grip-padding: 3px;
    
        --mbr-menubar-color: white;
        --mbr-menubar-background-color: var(--vtr-background-color);
        --mbr-menubar-submenu-background-color: #2f2f2f;
        --mbr-menubar-selected-background-color: var(--vtr-selected-background-color);
        --mbr-menubar-hover-color: darkblue;
        --mbr-menubar-border-color: rgb(70, 70, 70);
        --mbr-menubar-shadow-color: rgba(148, 148, 148, 0.2);
        --mbr-menubar-selected-color: white;
        --mbr-menubar-selected-background-color: var(--vtr-selected-background-color);
        --mbr-menubar-separator-color: rgb(70, 70, 70);

        --rpc-color: var(--vtr-selected-background-color);
        --rpc-background-color: rgb(27, 27, 27);

        --wdr-main-color: white;
        --wdr-main-background-color: #353535;
        --wdr-button-background-color: #454545;
        --wdr-button-color: white;        
        --wdr-cancel-color: white;
        --wdr-cancel-background-color: #353535;
        --wdr-input-selection-color: var(--vtr-selected-background-color);
    }   
}

