:root .windows-dark {
    background-color: var(--menubar-background-color);
    --electron-titlebar-color: lightgray;
    --electron-titlebar-background-color: black;
    --electron-titlebar-button-hover-color: rgb(66, 66, 66);
    --electron-titlebar-focused-color: rgb(174, 173, 230);

    --menubar-color: white;
    --menubar-background-color: #2f2f2f; 
    --menubar-hover-color: darkblue;
    --menubar-selected-color: white;
    --menubar-selected-background-color: blue;
    --menubar-border-color: rgb(70, 70, 70);
    --menubar-shadow-color: rgba(148, 148, 148, 0.2);
    --menubar-separator-color: rgb(70, 70, 70);    

    --vtc-color: white;
    --vtc-background-color: var(--menubar-background-color);

    --exif-color: darkblue;
    --selected-exif-color: yellow;

    --vtc-scrollbar-button-display: none;
    --vtc-scrollbar-width: 12px;
    --vtc-scrollbar-background-color: transparent;
    --vtc-scrollbar-border-width: 0px;
    --vtc-scrollbar-grip-width: 4px;
    --vtc-scrollbar-grip-active-color: var(--vtc-selected-background-color);
    --vtc-scrollbar-grip-radius: 999px;
    --vtc-scrollbar-grip-right: 1px;
    --vtc-scrollbar-right-margin: 6px;    

    --gridsplitter-grip-color : var(--electron-titlebar-background-color);
    --gridsplitter-grip-hover-color : rgb(35, 35, 35);
    --gridsplitter-grip-active-color : rgb(65, 65, 65);    

    --pieprogress-color: var(--vtc-selected-background-color);
    --pieprogress-background-color: var(--vtc-background-color);
}

body.windows-dark {
    font-size: 75%;
}