.statusbar {
    padding: 3px;
    color: var(--color);
    background-color: var(--scaffolding-background-color);
    display: flex;
}

.statusbar.error {
    color: white;
    background-color: red;
}

.fill {
    flex-grow: 1;
}

.lastStatus {
    margin: 0 10px;
}