.titlebar {
    display: flex;
    height: 32px;
    background-color: var(--scaffolding-background-color);
    color: var(--color);
    border-top: 1px solid transparent;
}

body:focus-within .titlebar {
    border-top: 1px solid var(--vtr-selected-background-color);
}

.titlebar>img {
    height: 32px;
}

.titlebarGrip {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    margin: 3px 3px 0px 0px;    
    -webkit-app-region: drag;
    display: flex;
    align-items: center;  
}
.titlebarGrip>span {
    flex-grow: 1;   
    margin-top: -3px; 
}

.titlebarButton {
    width: 44px;
    text-align: center;
    font-size: 12pt;
    display: flex;
    align-items: center;        
    cursor: pointer;
    color: var(--color);
}
.titlebarButton>span {
    flex-grow: 1;   
    margin-top: -3px;
    user-select: none;
}
.titlebarButton:hover {
    background-color: var(--titlebar-hover-color);
}
.titlebarButton.close:hover {
    background-color: red;
    color: white;
}
.titlebarButton>span.dash {
    vertical-align: sub;
    margin-top: 0px;
}
.pieContainer {
    display: flex;
    margin: 4px;
    width: 0px;
    transition: width 0.3s
}

.pieContainer.revealed {
    width: 20px;
}