.trackViewContainer{
    display: flex;
    flex-direction: column;
}

.trackView {
    flex-grow: 1;
    position: relative;
}

.trackMap {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;    
    bottom: 0px;    
}
