:root {
    --color: black;
    --scaffolding-background-color: #ebebeb;
    --svg-image-path-color: black;
    --restriction-background-color: white;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.viewer{
    position: relative;
    width: 100%;
    height: 100%;
}

