:root {
    --svg-image-path-color: black;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tableContainer {
    flex-grow: 1;
    position: relative;
}

tr.notMounted {
    Opacity: 0.5;
}