body {
    --drag-highlight: rgb(185, 255, 255);
}

.tableContainer {
    flex-grow: 1;
    position: relative;
    transition: background-color 0.5s ease, filter 0.5s ease;
}

tr .exif {
    color: var(--exif-color);
}

tr.isSelected .exif {
    color: var(--selected-exif-color);
}

tr.notMounted, tr.hidden {
    Opacity: 0.5;
}

tr.full {
    color: black;
    background-color: rgb(255, 176, 176);
}

tr.disabled {
    Opacity: 0.4;
}

tr.notRunning svg {
    Opacity: 0.4;
}
