.file {
    font-weight: bold;
    margin: 0 5px;
}

.openWith {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.openWith .tableContainer {
    margin-top: 20PX;
}

.appImage {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 1px;
}

.new {
    display: inline-block;
    align-content: center;
}